<h1><%= @user.firstname %>'s Profile Page</h1>
<% if @photo %>
  <%= image_tag(rails_blob_path(@photo), size: '200x200') %>
<% else %>
<% end %>

<br>
<%= link_to "Add Photo Album", new_user_album_path(@user.id) %>
<br>
<%= link_to "Back to posts", posts_path %>
<br>
<br>

<table>
  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <% if album.user_id == @user.id %>
        <td><%= album.title %></td>
        <td><%= link_to 'View Album', user_album_url(@user.id, album.id) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<% @posts.each do |post| %>
  <% if post.user_id == @user.id %>
    <p><%= post.message %></p><br>
  <% end %>
<% end %>
